proxy=http://beantc.merck.com:8080/
https-proxy=http://beantc.merck.com:8080/
registry=https://artifacts.merck.com/artifactory/api/npm/npm-main/
strict-ssl=false
@sad:registry=https://artifacts.merck.com/artifactory/api/npm/npm-sad/